<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if .Params.seo.title }}
<title>{{ .Params.seo.title }}</title>
{{ else if .Title }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{ else }}
<title>{{ .Site.Params.title }}</title>
{{ end }}
{{ if .Params.seo.description }}
<meta name="description" content="{{ .Params.seo.description }}">
{{ else }}
<meta name="description" content="{{ .Site.Params.description }}">
{{ end }}
{{ if .Params.seo.keywords }}
<meta name="keywords" content="{{ .Params.seo.keywords }}">
{{ else }}
<meta name="keywords" content="{{ .Site.Params.keywords }}">
{{ end }}
<link rel="canonical" href="{{ .Permalink }}">

<meta property="og:title" content="{{ .Params.seo.title | default .Site.Params.title }}">
<meta property="og:description" content="{{ .Params.seo.description | default .Site.Params.description }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="website">

<meta name="color-scheme" content="light dark">
{{ $css := resources.Match "css/*.css" | resources.Concat "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

<link rel="icon" type="image/png" href="{{ " /assets/favicon/favicon-96x96.png" | relURL }}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ " /assets/favicon/favicon.svg" | relURL }}" />
<link rel="shortcut icon" href="{{ " /assets/favicon/favicon.ico" | relURL }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ " /assets/favicon/apple-touch-icon.png" | relURL }}" />
<meta name="apple-mobile-web-app-title" content="UzmanHaf." />
<link rel="manifest" href="{{ " /assets/favicon/site.webmanifest" | relURL }}" />

<meta name="google-site-verification" content="BURAYA_GSC_KODUNUZ_GELECEK" />
{{ if .Site.Params.googleAnalyticsID }}
<!-- End Google Tag Manager -->
{{ end }}

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5ZS7XL9N');</script>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>