<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> {{ .Title }} Yıkım ve Kırım İşleri | Uzman Hafriyat </title>
<meta name="description"
    content="Ankara'da Altyapı, kanal açma, temel kazısı, drenaj ve kırım yıkım işlerinde profesyonel çözüm. 1CX ve 4 tonluk makinelerle dar alan hizmeti. Hemen teklif alın.">
<meta name="keywords"
    content="Hafriyat, Temel Kazısı, Altyapı Çalışmaları, Kanal Açma, Kanalizasyon Kazısı, Bina Yıkımı, Beton Kırım, Moloz Atımı, Çevre Düzenleme, İnşaat Hafriyatı, Şehir İçi Hafriyat, Dar Alan Hafriyatı, 1CX Ekskavatör, 4 Tonluk Ekskavatör, Hafriyat Hizmetleri, Altyapı Projeleri, İnşaat Destek Hizmetleri, Harfiyat firmaları, kiralık kepçe, mini kepçe kiralama">

<meta name="description" content="{{ .Site.Params.description }}">
<meta name="keywords" content="{{ .Site.Params.keywords }}">

<meta name="color-scheme" content="light dark">
{{ $css := resources.Match "css/*.css" | resources.Concat "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

<link rel="icon" type="image/png" href="{{ "/assets/favicon/favicon-96x96.png" | relURL }}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ "/assets/favicon/favicon.svg" | relURL }}" />
<link rel="shortcut icon" href="{{ "/assets/favicon/favicon.ico" | relURL }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | relURL }}" />
<meta name="apple-mobile-web-app-title" content="UzmanHaf." />
<link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | relURL }}" />

{{ if .Site.Params.googleAnalyticsID }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalyticsID }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ .Site.Params.googleAnalyticsID }}');
</script>
{{ end }}

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>