<header>
    <div class="container">
        <nav>
            <a href="{{ .Site.BaseURL }}" class="logo">
                <img src="{{ "/assets/images/uzman-hafriyat-logo.svg" | relURL }}" alt="Uzman Hafriyat" width="200" height="80">
            </a>
            <div class="header-right-contact">
                <address class="contact-block phone-block">
                    <i class="icon-phone-call"></i>
                    <a href="tel:+905325622419" target="_blank"
                        onclick="navigator.clipboard.writeText('0 543 796 24 19')">
                        <span class="label"> Bize Ulaşın </span>
                        <div class="split-text-once"> 0 (532) 562 24 19 </div>
                    </a>
                </address>
                <hr class="vr">

                <address class="contact-block email-block">
                    <i class="icon-envelope"></i>
                    <a href="mailto:uzmanharfiyatcom@gmail.com" target="_blank"
                        onclick="navigator.clipboard.writeText('uzmanharfiyatcom@gmail.com')">
                        <span class="label">Bize Yazın</span>
                        <div class="split-text-once"> iletisim@uzmanhafriyat.com </div>
                    </a>
                </address>
                <hr class="vr">

                <address class="contact-block whatsapp-block">
                    <i class="icon-whatsapp"></i>
                    <a href="https://wa.me/+905325622419" target="_blank"
                        onclick="navigator.clipboard.writeText('0 543 796 24 19')">
                        <span class="label"> WhatsApp </span>
                        <div class="split-text-once"> 0 (532) 562 24 19 </div>
                    </a>
                </address>
            </div>
        </nav>
    </div>
</header>