@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?terx3m');
  src:  url('fonts/icomoon.eot?terx3m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?terx3m') format('truetype'),
    url('fonts/icomoon.woff?terx3m') format('woff'),
    url('fonts/icomoon.svg?terx3m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\e900";
  color: #25d366;
}
.icon-whatsapp1:before {
  content: "\e901";
}
.icon-brand:before {
  content: "\e901";
}
.icon-social:before {
  content: "\e901";
}
.icon-arrow-up-right:before {
  content: "\e902";
}
.icon-chevron-left:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-map-pin:before {
  content: "\e907";
}
.icon-phone-call:before {
  content: "\e908";
}
.icon-pie-chart:before {
  content: "\e909";
}
.icon-play:before {
  content: "\e90a";
}
.icon-play-circle:before {
  content: "\e90b";
}
.icon-settings:before {
  content: "\e90c";
}
.icon-share-2:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e004";
}
.icon-envelope:before {
  content: "\e028";
}
.icon-lightbulb:before {
  content: "\e030";
}
.icon-map-pin1:before {
  content: "\e047";
}
.icon-chat:before {
  content: "\e049";
}
.icon-target:before {
  content: "\e04e";
}
.icon-refresh:before {
  content: "\e05a";
}
.icon-facebook1:before {
  content: "\e05d";
}
