@use "variables" as *;

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?terx3m');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?terx3m#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?terx3m') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?terx3m') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?terx3m##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;     
    color: #25d366;
  }
}
.icon-whatsapp1 {
  &:before {
    content: $icon-whatsapp1; 
  }
}
.icon-brand {
  &:before {
    content: $icon-brand; 
  }
}
.icon-social {
  &:before {
    content: $icon-social; 
  }
}
.icon-arrow-up-right {
  &:before {
    content: $icon-arrow-up-right; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-map-pin {
  &:before {
    content: $icon-map-pin; 
  }
}
.icon-phone-call {
  &:before {
    content: $icon-phone-call; 
  }
}
.icon-pie-chart {
  &:before {
    content: $icon-pie-chart; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-play-circle {
  &:before {
    content: $icon-play-circle; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-share-2 {
  &:before {
    content: $icon-share-2; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-lightbulb {
  &:before {
    content: $icon-lightbulb; 
  }
}
.icon-map-pin1 {
  &:before {
    content: $icon-map-pin1; 
  }
}
.icon-chat {
  &:before {
    content: $icon-chat; 
  }
}
.icon-target {
  &:before {
    content: $icon-target; 
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh; 
  }
}
.icon-facebook1 {
  &:before {
    content: $icon-facebook1; 
  }
}

.fa-lg {
  font-size: 1.33em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}