$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-whatsapp: "\e900";
$icon-whatsapp1: "\e901";
$icon-brand: "\e901";
$icon-social: "\e901";
$icon-arrow-up-right: "\e902";
$icon-chevron-left: "\e903";
$icon-chevron-right: "\e904";
$icon-facebook: "\e905";
$icon-instagram: "\e906";
$icon-map-pin: "\e907";
$icon-phone-call: "\e908";
$icon-pie-chart: "\e909";
$icon-play: "\e90a";
$icon-play-circle: "\e90b";
$icon-settings: "\e90c";
$icon-share-2: "\e90d";
$icon-phone: "\e004";
$icon-envelope: "\e028";
$icon-lightbulb: "\e030";
$icon-map-pin1: "\e047";
$icon-chat: "\e049";
$icon-target: "\e04e";
$icon-refresh: "\e05a";
$icon-facebook1: "\e05d";

