<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " tr" }}" data-theme="light">

<head>
    {{ partial "components/head.html" . }}

    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        {
        "@type": "ListItem",
        "position": 1,
        "name": "Ana Sayfa",
        "item": "{{ .Site.BaseURL }}"
        }
        {{- block "breadcrumb_items" . }}{{ end -}}
    ]
    }
    </script>

    {{ block "extra_schema" . }}{{ end }}
</head>

<body class="{{ if .IsHome }}home-page{{ else }}sub-page{{ end }}">

    {{ partial "components/header.html" . }}

    {{ block "content" . }}{{ end }}

    {{ partial "components/footer.html" . }}

    {{ $js := resources.Match "js/*.js" | resources.Concat "main2.js" | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
</body>