<!DOCTYPE html>
<html lang="tr" data-theme="light">

<head>
    {{ partial "components/head.html" . }}

    {{ partial "seo/schema.html" . }}
</head>

<body class="{{ if .IsHome }}home-page{{ else }}sub-page{{ end }}">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZS7XL9N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <a href="#main-content" class="skip-to-content">Ana içeriğe geç</a>

    {{ partial "components/header.html" . }}

    {{ block "content" . }}{{ end }}

    {{ partial "components/footer.html" . }}

    {{ $js := resources.Match "js/*.js" | resources.Concat "js/main.js" | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
</body>
</html>
