@-webkit-keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 20px 0 0 20px 0 #fff;
    box-shadow: 0 0 0 20px 0 0 20px 0 #fff;
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
  }
}

@keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 20px rgb(255, 255, 255, 0.2);
    box-shadow: 0 0 0 20px rgb(255, 255, 255, 0.2);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgb(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgb(255, 255, 255, 0);
  }
}

@-webkit-keyframes ripple2 {
  70% {
    box-shadow: 0 0 0 40px rgba(10, 165, 205, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(10, 165, 205, 0);
  }
}

@keyframes ripple {
  70% {
    box-shadow: 0 0 0 40px rgba(10, 165, 205, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(10, 165, 205, 0);
  }
}

@keyframes kenburns {
  from {
    transform: scale(1) translateY(0);
  }

  to {
    transform: scale(1.15) translateY(-2%);
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  50% {
    opacity: 1;
    transform: translateY(15px);
  }

  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}


@keyframes slideUpReturn {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    49% {
        transform: translateY(-150%); /* Yukarı kaçış */
        opacity: 0;
    }
    50% {
        transform: translateY(150%); /* Anında aşağı ışınlanma (görünmezken) */
        opacity: 0;
    }
    100% {
        transform: translateY(0); /* Aşağıdan yerine geliş */
        opacity: 1;
    }
}