.image-box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  img {
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    cursor: pointer;
    img {
      transition: all 0.3s ease-in-out;
    }
  }
}

.image-box::after {
  content: "";
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  transform: translate3d(-96%, -100%, 0) scale(0);
  opacity: 0;
}

/* Görsel görünür olduğunda animasyon çalışsın */
.image-box.visible::after {
  opacity: 1;
  animation: slideDown 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.01s,
    slideAcross 1.01s cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
}
@-webkit-keyframes slideAcross {
  0% {
    -webkit-transform: translateX(-96%);
    transform: translateX(-96%);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(101%);
    transform: translateX(101%);
  }
}

@keyframes slideAcross {
  0% {
    -webkit-transform: translateX(-96%);
    transform: translateX(-96%);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(101%);
    transform: translateX(101%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translate3d(-96%, -100%, 0);
    transform: translate3d(-96%, -100%, 0);
  }

  to {
    -webkit-transform: translate3d(-96%, 0, 0);
    transform: translate3d(-96%, 0, 0);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translate3d(-96%, -100%, 0);
    transform: translate3d(-96%, -100%, 0);
  }

  to {
    -webkit-transform: translate3d(-96%, 0, 0);
    transform: translate3d(-96%, 0, 0);
  }
}

@keyframes showImage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.image-box.visible .gatsby-image-wrapper {
  opacity: 1;
  -webkit-animation: fadeIn 1.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  animation: fadeIn 1.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.image-box .gatsby-image-wrapper {
  opacity: 0;
}

.image-box img {
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  width: 100%;
}

.visible img {
  animation: showImage 1.5s ease 1.5s both;
  /* 2s sonra başlasın */
}
